

/*css cho top */
h4.nghenghiep {
    color: rebeccapurple;
    font-weight: 600;
    opacity:0;
    transition: 0.4s;
    animation: noidungtopdilen 1s forwards;
    animation-delay: 0.8s;
}
body{
	font-family: 'Open Sans', sans-serif;
}

.col-sm-4 {}

.noidungtren h3.ten {
    font-size: 52px;
    color: white;
    margin-top: 20px;
    opacity:0;
    transition: 0.4s;
    animation: noidungtopdilen 1s forwards;
    animation-delay:0.6s;

}

.anhtop .noidungtren img {
    width: 301px;
    display:  inline-block;
    transition: 0.4s;
    opacity:0;
    animation:dixuong 1s forwards;
}

.anhtop .noidungtren {
    display:  table-cell;
    vertical-align: middle;
}

.anhtop {
    width:  100%;
    height:  770px;
    background-image: url(images/bg_top.jpg);
    background-size: cover;
    text-align: center;
    display:  table;
    box-sizing:  border-box;
    transition: 0.4s;
    animation:anBackgroundTop 2s forwards;
    animation-delay: 2s;
}

/*lam hieu ung cho top*/
@-webkit-keyframes dixuong{
	0%{opacity: 0;transform: translateY(-100%)
	}
	100%{opacity:1;transform:translateY(0px);}
}


@-webkit-keyframes noidungtopdilen{
	0%{opacity:0;transform:translateY(500px);}
	100%{opacity:1;transform: translateY(0px);}
}

@-webkit-keyframes anBackgroundTop{
	0%{transform:scale(2);}
	100%{transform: scale(1);}
}




.menu div#exCollapsingNavbar2 {
    height:  50px;
    background-color: #ffffd0;
    border-radius: 10px;
    margin-top: -36px;
    box-sizing:  border-box;
    padding: 5px 29px;
}

/*end css cho top*/

/*css cho khoi menu khoi thongtin*/


h3.tieude {
    font-weight: 600;
    font-size: 37px;
    margin-bottom: 37px;
}

.thongtin {
    padding-top: 100px;
    box-sizing:  border-box;
}

.thongtin .col-sm-6.soluoc {
    height: 462px;
}
.khcommentfacebook{
	margin-top:100px;
	margin-bottom: 100px;
	text-align: center;
}



/*css cho khoi isotop*/

.khoianh img {
    width:  100%;
}

.khoianh {
    width:  25%;
    box-sizing:  border-box;
    padding: 0px 3px;
}

.khoianh.nhandoi {
    width:  50%;
}

.noidung {
    display:  flex;
    flex-wrap:  wrap;
} 

figcaption{
	background:lightblue;
	font-family: segoe ui light;
	font-size:15px;
	color:black;
	font-weight: bold;
	padding:5px 10px;
	text-align: center;
}


*{margin: 0; padding: 0;}

.noidung {
    margin-top: 40px;
}

.thongtin a.fa.fa-facebook {
    font-size: 23px;
    padding-top: 10px;
    display: block;
    border-radius:  50%;
    border:  1px solid gray;
    width: 40px;
    height: 40px;
    padding-left: 0px;
    text-align: center;
    background-color: lightblue;
    cursor:  pointer;
}

.thongtin .col-sm-4 {
    margin-top: 78px;
    padding-left: 20px;
}



/*end css cho khoi isotop*/
/*css cho phan di dong*/

@media (max-width: 576px)
{
	*{margin:0px;padding: 0px;}

.thontin .col-sm-4 {
    text-align:  left;
}

.thongtin {
    margin-top: 126px;
    text-align:  center;
}

.thongtin .col-sm-4 div {
    text-align:  left;
    margin-left: 56px;
}

.menu li.nav-item {
    border-bottom:  1px solid gray;
}

.menu ul.nav.navbar-nav.float-sm-right {
    width:  100%;
    display:  inline-block;
    text-align:  center;
    text-transform:  uppercase;
    color: #244640;
}

.menu a.navbar-brand {
    margin-top: 43px;
}

.menu a.navbar-brand {
    text-align:  center;
    font-weight:  bold;
    margin-top: 39px;
}

	h4.nghenghiep {
	    color: lightblue;
	    font-size: 17px;
	}

	.anhtop h3.ten {
	    font-size: 30px;
	    font-weight:  bold;
	    text-transform:  uppercase;
	}

	.anhtop .noidungtren img {
	    width: 185px;
	}


}